.certificate-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.certificate-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.certificate-title {
  font-weight: 600;
}

.certificate-image {
  height: 60px;
  width: auto;
  max-width: 60px;
}

.certificates-container {
  margin-top: 10rem;
}
