.input {
  visibility: hidden;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  cursor: pointer;
}

.edit-button {
  opacity: 0;
  border-radius: 50%;
  height: 180px;
  width: 180px;

  border: none;
  background-color: grey;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 80%;
}

.image-container {
  width: 100vw;
}

.centered-element {
  position: absolute;
  top: 20px;
  left: calc(50% - 90px);
}
