.input {
  visibility: hidden;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  cursor: pointer;
}

.profile-image:hover {
  opacity: 50%;
}

.edit-button {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 90px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 100%;
}
