* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: auto;
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 0.8rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1 {
  font-size: 1.1rem;
  font-weight: 600;

  color: rgb(46, 46, 46);
}

.underline {
  padding-bottom: 1rem;
  border-bottom: 1px solid #a69c94;
}
